@model PagedList.IPagedList<TrelloMVC.ViewModels.BoardViewModels.BoardViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</div>

<div style="padding: 7px 0px 7px 0px">
    @using (@Html.BeginForm("Index", "Board", FormMethod.Get))
    {
        <p>
            Find by Board Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-info"/>
        </p>
    }
</div>

<div id="IndexPartialView">
    @{ Html.RenderPartial("IndexPartial", Model); }
</div>