@model Tuple<IEnumerable<TrelloMVC.ViewModels.BoardViewModels.BoardViewModel>, TrelloMVC.ViewModels.PaginationAux, TrelloMVC.ViewModels.BoardViewModels.BoardSortFilter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</div>

<div style="padding: 7px 0 7px 0">
    @using (@Html.BeginForm("Index", "Board", FormMethod.Get))
    {
        <p>
            Find by Board Name: @Html.TextBox("SearchString", Model.Item3.CurrentFilter)
            <input type="submit" value="Search" class="btn btn-info"/>
        </p>
    }
</div>

<div id="IndexPartialView">
    @{ Html.RenderPartial("IndexPartial", Model); }
</div>